[submodule ".registry"]
	path = .registry
	url = https://github.com/nt-williams/nt-williams.r-universe.dev
	branch = HEAD
[submodule "codebreak"]
	path = codebreak
	url = https://github.com/nt-williams/codebreak
[submodule "ife"]
	path = ife
	url = https://github.com/nt-williams/ife
[submodule "lmtp"]
	path = lmtp
	url = https://github.com/nt-williams/lmtp
	branch = devel
[submodule "simul"]
	path = simul
	url = https://github.com/nt-williams/simul
