[submodule ".registry"]
	path = .registry
	url = https://github.com/nt-williams/nt-williams.r-universe.dev
	branch = HEAD
[submodule "codebook"]
	path = codebook
	url = https://github.com/nt-williams/codebook
[submodule "lmtp"]
	path = lmtp
	url = https://github.com/nt-williams/lmtp
[submodule "simul"]
	path = simul
	url = https://github.com/nt-williams/simul
